/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
  /* One rem is 16px */
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}



/* Site navigation */

.site-nav	A:link {text-decoration: none; color: white;}
.site-nav	A:visited {text-decoration: none; color: white;}
.site-nav	A:active {text-decoration: none; color: white;}
.site-nav	A:hover {text-decoration: none; color: white;}
.site-nav	a:focus {outline: 0;}

.site-nav{
  position: absolute;
  width: 100vw;
  z-index: 100;
}

.site-nav a:active{
  opacity: 0.7;
}

.site-nav-left{
  float: left;
	display: flex;
	align-items: center;
	height: 100px;
}

.site-nav-right{
  float: right;
  margin-right: 24px;
  font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
  
.site-nav-regular{
  background-color: rgba(120, 120, 128, 0.3);
  border-radius: 100px;
  color: white;
  opacity: 1.0;
  border-radius: 100px;
  padding: 7px 16px 8px 16px;
  margin: 0 4px 0 4px;
  transition: opacity 0.3s;
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
}

.site-nav-regular:hover {
  background-color: rgba(120, 120, 128, 0.6);
  color: black;
  border-radius: 100px;
  transition: opacity 0.15s;
}

.plantry-logo{
  height: 100px;
	position: relative;
	display: inline-block;
}

.plantry-logo-mobile{
  display: none;
}


/* Site nav responsive */


@media (max-width: 567px){
  
  .plantry-logo{
    display: none;
  }
  
  .plantry-logo-mobile{
    display: inline-block;
  }

  .site-nav-left, .site-nav-right{
  	height: 64px;
  }
  
  .site-nav-right{
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .site-nav-regular, .site-nav-active{
    height: auto;
    width: auto;
    font-size: 15px;
    margin: 0 4px 0 4px;
    padding: 7px 16px 8px 16px;
  }  
}








.buttons {
  max-width: 364px;
  text-align: center;
}


.button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 334px;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: 0.15s;
  margin-bottom: 8px;
}

.button-primary {
  margin-top: 40px;
  color: white;
  background-color: black;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.16); 
}

.button-secondary {
  margin-top: 16px;
  color: black;
  background-color: white;
  box-shadow:0 1px 4px rgba(44, 49, 93, 0.16); 
}

.button-tertiary {
  margin-top: 16px;
  color: black;
}

.button-primary:hover {
  background-color: #676772;		  
  box-shadow:none;
}

.button-secondary:hover {
  background-color: rgba(120, 120, 128, 0.16);
  box-shadow:none;
}

.button-tertiary:hover {
  background-color: rgba(120, 120, 128, 0.16);
}











body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

section {
 display: flex;
    justify-content: center;
    overflow: hidden;
}










/* Header */

header {
  background-color: black; 
  padding: 0;
  margin: 0;
}

.hero {
  transition: 0.35s; 
  background-image: url(gfx/earth-bg.jpg);
  background-position: center top;
  background-size: cover;
  color: rgb(0, 0, 0);
  padding: 160px 0 0 0;
  margin: 0 0 60px 0;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
}

.hero-iphone {
  transition: 0.15s; 
  margin-top: 50px;
  margin-bottom: 50px;
  height: 744px;
  background: url(gfx/hero-iphone@2x.png);
  background-size: 309px 744px;
	background-repeat: no-repeat;
	background-position: center center;
	}

.video {
  transition: 0.15s; 
  height: 697px;
  margin-top: 22px;
  margin-right: 20.8px;
  border-radius: 280px 40px 40px 280px/55px 40px 40px 55px;
  }

.app-store-download-top { 
  transition: 0.15s; 
  margin-top: 340px;
  margin-left: 80px;
	position: absolute;
	display: inline-block;
}

.app-store-download-top img, .app-store-download-top-mobile img { 
    transition: 0.15s; 
  	width: 194px;
  	height: 112px;
	}

.hero a:active, .awards a:active {
  opacity: 0.7;
}

.app-store-download-top-mobile { 
  display: none;
}

.hero h2 {
  font-size: 72px;
  background: linear-gradient(to right, #FFBFD5 30%, #A3C6FF 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bend {
  transition: 0.35s; 
  width: 100%;
  padding: 0;
  margin-bottom: -16px;
  background-image: url(gfx/bend.svg);
  background-size: contain;
  background-position: center top;
  width: 100%;
}

.veggies {
  margin-bottom: 60px;
  width: 100%;
  max-width: 887px;
}

.ipad-hero {
  margin-bottom: 80px;
  width: 100%;
}



/* Cards */


section h2 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.cards {
  transition: 0.35s; 
  max-width: 1400px;
  margin-bottom: 40px;
  align-items: center;  
  text-align: center;
}

.card {
  transition: 0.35s; 
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  margin: 12px 12px 32px 12px;
  max-width: 376px;
  min-height: 260px;
	position: relative;
	display: inline-block;
	vertical-align: top;
  text-align: left;
  box-shadow:0 8px 32px rgba(44, 49, 93, 0.12);
}

.card p {
  margin: 0;
	font-size: 18px;
  line-height: 25px;
  padding: 0;
}

.divider {
  height: 16px;
  background-color: rgba(44, 49, 93, 0.06);
  margin-bottom: 70px;
}









/* Awards */


.app-store-download {
  display: block;
  width: 194px;
  height: 112px;
  opacity: 1;
  margin-bottom: 2rem;
  margin-top: 0;
}

.award-grid {
  max-width: 1090px;
  text-align: left;
}

.award {
	background: url(gfx/award@2x.png);
  background-size: 290px 142px;
	background-repeat: no-repeat;
	background-position-y: 35px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
	height: 178px;
  text-align: center;
}


.award p {
  margin-top: 98px;
  font-weight: bold;
  font-size: 1.125rem;
	height: 20px;
}

.award h2 {
  font-weight: normal;
  font-size: 0.8125rem;
	opacity: 0.7;
	height: 20px;
	margin-top: 33px;
}

.articlequote {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.articlequote p {
  margin-top: 0;
  margin-bottom: 0;
	font-size: 18px;
	color: #4D4D4D;
  line-height: 1.5;
}

.articlequote b {
  color: black;
}

.review-grid {
  max-width: 1090px;
  margin-bottom: 0;
  text-align: left;
}

.review {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.review p {
  margin-top: 16px;
  margin-bottom: 0;
	font-size: 18px;
	color: #4D4D4D;
  line-height: 1.5;
}

.review b {
  color: black;
}

.review h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  text-align: left;
}







/* Footer */


.bend-top {
  padding: 0;
  margin: -1px 0 16px 0;
  width: 100%;
}

footer {
  background-color: #FFC800;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

footer p {
  color: #000;
  font-weight: normal;
  font-size: 11px;
}

footer a {
  color: #000;
  font-weight: normal;
  font-size: 11px;
}

footer a:hover {
  opacity: 0.7
}

footer img {
  margin: 24px 0;
}

.copyright {
	padding: 0;
	margin: 0px 0px 6px 0px;
}

.apple-notice {
  opacity: 0.5;
	padding: 0;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
	text-align: center;
}

.social-footer {
  padding: 0;
  margin: 0;
}

.social-footer img {
  margin: 16px 22px 48px 22px;
}






/* Typography */

h2, p {
  margin: 0;
  padding: 0 0 1.2rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 14px 0px 14px 0px;
}

p {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.vignette {
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.apple-notice {
	line-height: 1.3;
}  




/* Smaller download button & cards for smaller screens */

@media screen and (max-width: 1538px) {
  .app-store-download-top img, .app-store-download-top-mobile img { 
    transition: 0.15s; 
  	width: 155.2px;
  	height: 89.6px;
	}
	
  .card p {
  	font-size: 17px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  .cards {
    max-width: 1100px;
  }  

  .card {
    border-radius: 24px;
    padding: 24px;
    margin: 10px 10px 22px 10px;
    max-width: 330px;
    min-height: 248px;
  }
}


/* Laptop layout */

@media (min-width: 1001px) and (max-width: 1792px){
  .hero {
    padding: 106px 0 0 0;
    margin: 0 0 60px 0;
  }
  
  .hero-iphone {
    margin-top: 20px;
    margin-bottom: 0;
    height: 595px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 559px;
    margin-top: 16.5px;
    margin-right: 15px;
    border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
  }
  
  .app-store-download-top { 
    margin-top: 272px;
    margin-left: 64px;

  	position: absolute;
  	display: inline-block;
  }
  
  .hero h2 {
    font-size: 56px; 
  }
}
  
  


/* Tablet & Mobile layout */


@media (min-width: 568px) and (max-width: 1366px){

  .header-padding {
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .hero {
    background-image: url(gfx/earth-bg-tablet.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 106px 0 0 0;
    margin: 0 0 60px 0;
  }
  
  .hero-iphone {
    margin-top: 20px;
    margin-bottom: 0;
    height: 595px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 559px;
    margin-top: 16.5px;
    margin-right: 15px;
    border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
  }
  
  .app-store-download-top { 
    display: none;
  }
  
  .app-store-download-top-mobile { 
    display: inherit;
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .hero h2 {
    font-size: 48px; 
  }
  
  .bend {
    margin-bottom: -8px;
  }
  
  .ipad-hero {
    margin-bottom: 80px;
    width: 150%;
    margin-left: -25%;
  }
}

/* Wide gamut display support */

@supports (color: color(display-p3 0 0 0 / 1)) {
  
  .hero h2 {
    background: linear-gradient(to right, color(display-p3 1 0.74 0.83 / 1) 30%, color(display-p3 0.64 0.78 1 / 1) 70%);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* Adjust grid for two columns */

@media (min-width: 760px) and (max-width: 1124px){
  
  .cards, .review-grid, .award-grid {
    max-width: 728px;
  }
  
}

/* Adjust grid for one column */

@media (min-width: 568px) and (max-width: 759px){
  
  .cards, .review-grid, .award-grid {
    max-width: 364px;
  }
  
}

  

/* Mobile layout — below iPhone SE landscape size */

@media (max-width: 567px){
  
  .hero {
    background-image: url(gfx/earth-bg-mobile.jpg);
    background-position: center top;
    background-size: cover;
  }
  
  .hero { 
    padding: 64px 0 0 0;
    margin: 0 0 28px 0;
  }
  
  .hero-iphone {
    margin-top: 0;
    margin-bottom: 0;
    height: 595px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 559px;
    margin-top: 16.5px;
    margin-right: 15px;
    border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
    margin-bottom: 100px;
  }
  
  .app-store-download-top { 
    display: none;
  }
  
  .app-store-download-top-mobile { 
    display: inherit;
    margin-top: 48px;
    margin-bottom: 32px;
  }
  
  .hero h2 {
    display: none;
  }
  
  .bend {
    margin-bottom: -8px;
  }
  
  .veggies, .ipad-hero {
    margin-bottom: 20px;
    width: 160%;
    margin-left: -30%;
  }
  
  .image-crop {
    overflow: hidden;
    width: calc(100% + 32px);
    padding: 0;
    margin: 0;
  }  
  
  h3 {
    font-size: 1.24rem;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .award-grid {
    text-align: center;
  }
  
  .cards, .review-grid, .award-grid, .buttons {
    max-width: none;
    margin-left: 24px;
    margin-right: 24px;    
  }
  
  .card p {
    margin-top: 0;
  	font-size: 15px;
    line-height: 1.5;
  }
  
  .divider {
    margin-bottom: 35px;
  }

	.button { height: 48px; line-height: 48px; width: 100%; border-radius: 24px; font-size: 18px;}
  .button-primary { margin-top: 24px;}
  .button-secondary { margin-top: 12px;}

  header .app-store-download {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 80vh;
    left: 33vw;
    width: 34vw;
    height: 11vw;
    background: url('gfx/app_store.svg') no-repeat;
    background-size: cover;
  }  
  
  section h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 16px 24px 16px;
    padding-bottom: 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .cards {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0;
    text-align: center;
  }

  .card {
    border-radius: 28px;
    padding: 16px 16px 32px 16px;
    max-width: inherit;
    min-height: inherit;
    width: 100%;
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
    margin: 16px 0px 16px 0px;
    text-align: left;
  }
  
  .award-grid {
    margin-bottom: 48px;
  }
  
  .award {
  	margin: auto auto 16px auto;
  }
  
  .award h2 {
  	margin-top: -32px;
  }

  .articlequote {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 48px;
    text-align: left;
    width: 100%;
  }
  
  .articlequote p {
    margin-top: 0;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.5;
    margin-bottom: 16px;
    padding: 0;
  }
  
  .review-grid {
    max-width: 1090px;
    margin-bottom: 0;
    text-align: center;
  }

  .review {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 64px;
    text-align: left;
    width: 100%;
  }
  
  .review p {
    margin-top: 4px;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.5;
    margin-bottom: 16px;
    padding: 0;
  }
  
  .review h2 {
    font-size: 15px;
    font-weight: normal;
    opacity: 0.5;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .app-store-download {
    display: block;
    width: 173px;
    height: 58px;
    background: url('gfx/app_store.svg') no-repeat;
    background-size: cover;
    text-indent: -999px;
    overflow: hidden;
    opacity: 1;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  
  h2, p {
    margin: 0;
    padding: 0 0 3rem 0;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    font-weight: normal;
    font-size: 0.9375rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  footer {
    margin-top: 48px;
  }
  
  .vignette {
    font-weight: normal;
    font-size: 0.9375rem;
    text-transform: uppercase;
    opacity: 0.7;
  }
  
  .social-footer img {
    margin: 16px 16px 48px 16px;
  }
}


/* Work around iOS limitation of fixed scrolling */

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .hero {
    background-attachment: scroll;
  }
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body, .divider {
    background-color: rgb(0, 0, 0);
  }
  
  section p, h2, h3 {
    color: #fff;
  }

  .veggies {
    display: none;
  }
  
  .invertInDarkMode {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }
  
  .award {
  	background: url(gfx/awardDarkMode@2x.png);
    background-size: 290px 142px;
  	background-repeat: no-repeat;
  	background-position-y: 35px;
  }
 
  .articlequote p {
    color: #8C8C8C;
  }
  
  .articlequote b {
    color: white;
  }
  
  .review p {
    color: #8C8C8C;
  }
  
  .review b {
    color: white;
  }
  
  .download-button {
    -webkit-filter: invert(1);
    filter: invert(1);}
  .button-primary {color: black; background-color: white;}
  .button-secondary {color: white; background-color: rgba(255, 255, 255, 0.15);; box-shadow: none;}
  .button-tertiary {color: white;}
  .button-primary:hover { background-color: rgba(255, 255, 255, 0.6); }
	.button-secondary:hover { background-color: rgba(255, 255, 255, 0.3);;}
	.button-tertiary:hover { background-color: #242426;}
	
  .card { background-color: #27282E; }
  
}