/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
  /* One rem is 16px */
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}

header {
  background: #000000;
  background: linear-gradient(to right, #000000 0%,#000000 45%,#000000 50%,#ffa801 50%,#ffa801 100%);
  height: auto;
  min-height: auto;
  max-height: auto;
}

header img {
	height: auto;
	width: 100%;
	max-width: 1330px;
	margin: auto;
	display: block;
}

header .app-store-download {
  position: absolute;
  top: 45rem;
  left: 65vw;
  width: 18rem;
  height: auto;
}

section {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

section > .content {
  max-width: 24rem;
  margin: auto;
  margin-right: 14rem;
  margin-left: 0;
  z-index: 5;
}

section > .content img {
  margin-bottom: 1rem;
}

section > .screenshot {
  width: 357px;
  height: 670px;
  position: relative;
  z-index: 2;
}
section > .plan {
	background: url(gfx/iphonePlan@2x.png);
  background-size: 357px 670px;
	background-repeat: no-repeat;
	}
	
	section > .recipes {
	background: url(gfx/iphoneExclusive@2x.png);
  background-size: 357px 670px;
	background-repeat: no-repeat;
	}
	
.video {
	margin: auto;
	margin-top: 31px;
	display: block;
	}

section > .screenshot img {
  z-index: 6;
  position: relative;
}

section > .screenshot::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200%;
  width: 350%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* CSS from filibaba.com
.screenshot {
	position: relative;
	overflow: hidden;
	width: 310px;
	height: 550px;
}

.screenshotVeryveggie {
	background: url(../images/screenshot_veryveggie@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}
*/

section:nth-child(even) > .content {
  order: 2;
  margin-left: 14rem;
  margin-right: 0;
}

#problem-intro {
  background: #1d2e39; 
  background: linear-gradient(110deg, #102533 5%,#ffa801 90%);
  color: rgb(255, 255, 255);
  padding: 13rem 0 18.75rem;

  overflow: hidden;
}

#problem-intro .content {
  margin: auto;
  max-width: 42rem;
}

#problem-intro h2 {
  margin: 1rem 0 0 0;
}

#plan-intro, #exclusive-content-intro {
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}

#shop-intro {
  background-color: rgb(213, 213, 222);
  color: rgb(0, 0, 0);
}

#shop-intro .screenshot::before {
  background: radial-gradient(ellipse at center, #ffffff 0%,#d5d5de 59%,#d5d5de 59%);
}

#cook-intro {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#cook-intro .screenshot::before {
  background: radial-gradient(ellipse at center, rgb(90, 141, 176) 0%, #000 59%, #000 59%);
}

#premium-intro {
  background-color: rgb(255, 168, 1);
  color: rgb(0, 0, 0);
}

#premium-intro .screenshot::before {
  background: radial-gradient(ellipse at center, rgb(255, 234, 0) 0%, rgb(255, 168, 1) 59%, rgb(255, 168, 1) 59%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 1rem 1rem 1rem;
}

footer p, a {
  color: #000;
  opacity: 0.5;
  font: normal 0.6rem "AvenirNext-Regular", Helvetica, sans-serif;
}

.copyright, .apple-notice {
	margin-bottom: 0;
}

.app-store-download {
  display: block;
  width: 170px;
  height: 50px;
  background: url('gfx/app_store.svg') no-repeat;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 5rem;
  
  margin-top: 5rem;
}

.splash1 {
  display: block;
  width: 479px;
  height: 354px;
  background: url('gfx/splash1@3x.png') no-repeat;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  left: 83vw;
}

.splash2 {
  display: block;
  width: 511px;
  height: 558px;
  background: url('gfx/splash2@3x.png') no-repeat;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  left: -250px;
}

.review-grid {
  max-width: 1090px;
margin-bottom: 70px;
}

.review {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
	margin-bottom: 90px;
	margin: 35px;
	width: 290px;

}

.review p {
  margin-top: 30px;
	font-size: 16px;
	opacity: 1.0;
  line-height: 1.7;
}

.review h2 {
  font: normal 1.125rem "AvenirNext-Regular", Helvetica, sans-serif;
  opacity: 0.5;
}

/* Typography */

h2, p {
  margin: 0;
  padding: 0 0 1.2rem 0;
}

h2 {
  font: normal 2.5rem "Avenir-Black", Helvetica, sans-serif;
}

p {
  font: normal 1.125rem "AvenirNext-Regular", Helvetica, sans-serif;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.vignette {
  font: normal 1rem "Avenir-Roman", Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
}


