@charset "UTF-8";


/* CSS copied from styles.css (Plantry stylesheet) */

html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	background-color: #fff;
	margin: 0;
}

	A:link {text-decoration: none; color: black;}
	A:visited {text-decoration: none; color: black;}
	A:active {text-decoration: none; color: black;}
	A:hover {text-decoration: none; color: black;}
	a:focus {outline: 0;}

/* Site nav */

.site-nav{
  position: fixed;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  background-color:rgba(255,255,255,.6);
  backdrop-filter:blur(60px);
  -webkit-backdrop-filter:blur(60px);
}

.site-nav-left{
  float: left;
  width: 24%;
	text-align: left;
}

.site-nav-right{
  float: right;
  margin-right: 24px;
  font-size: 20px;
  text-align: center;
}
  
.site-nav-regular{
  color: black;
  opacity: 1.0;
	position: relative;
	display: inline-block;
  border-radius: 100px;
  padding: 8px 16px;
  margin: 30px 4px 30px 4px;
  transition: 0.3s;
}

.site-nav-active{
  background-color: black;
  color: white;
}

.site-nav-regular:hover {
  background-color: rgba(120, 120, 128, 0.16);
  color: black;
  border-radius: 100px;
  transition: 0.15s;
}

.site-nav-regular:active {
  opacity: 0.54;
}

.filibaba-logo{
  margin-left: 24px;
  height: 100px;
	position: relative;
	display: inline-block;
}

/* Site nav responsive */


@media (max-width: 360px){
  .filibaba-logo{
    display: none;
  }
}

@media (max-width: 640px){
   .filibaba-logo{
    margin-left: 12px;
    margin-top: 8px;
    height: 0;
  	position: relative;
  }
 
  .filibaba-logo img{
    margin-left: 0px;
    width: 48px;
    height: auto;
  }    
  .site-nav-right{
    margin-right: 12px;
  }

  .site-nav-regular {
    font-size: 15px;
    margin: 30px 0px 30px 0px;
    padding: 8px 10px;
  }
}








/* Front page hero */

.header-picture {
  display: inline-block;  
  width: 100vw;
  overflow: hidden; 
}

.header-picture img {
  display: block;
  width: 130vw;
  margin-left: -15vw;
  object-fit: cover;
  background-repeat: no-repeat;
}

.filibaba-purpose {
  max-width: 800px;
	text-align: left;
	padding-top: 200px;
	margin: -400px auto 0px auto;
	position: relative;
}

.purpose-gradient img {
  position: absolute;
	background-image:  linear-gradient(rgba(255,255,255,0), white 75%);
}

.filibaba-purpose h1 {
  font-size: 56px;
  position: relative;
  margin-bottom: 0;
}

.filibaba-purpose p {
  font-size: 22px;
  line-height: 1.4;
  max-width: 580px;
}

.green {
  color: #7DCC2D;
}



/* Front page cards */

.card-wrapper {
  margin: 68px auto 0px auto;
  max-width: 870px;
}

.card {
  border-radius: 56px;
  background-color: #ccc;
  height: 360px;
  max-width: 870px;
  transition: 0.4s;
}

.card-accessories {
  height: 60px;
  margin-top: 16px;
  align-items: baseline;
}

.card-accessories p {
  font-size: 22px;
  float: left;
  margin: 16px 0px 16px 56px;
}

.button-learn-more {
  float: right;
  color: black;
  background-color: #ccc;
  border-radius: 100px;
  text-align: center;
  padding: 16px 24px 16px 24px;
  font-size: 22px;
  font-weight: 600;  
  margin-right: 48px;
  transition: 0.2s;
}

.card-phone-plantry {
  margin-top: 53px;
  margin-left: 53px;
}

.card-plantry-logo {
  margin-bottom: 135px;
  margin-left: 98px;
}

.card-handla-logo {
  margin-bottom: 141px;
  margin-left: 137.5px;
}

.card-phone-handla {
  margin-top: 53px;
  margin-left: 110px;
}

.card-illustration-meals {
  margin-top: 37.5px;
  margin-left: 42.5px;
}

.card:hover {
  box-shadow:0 16px 64px rgba(0, 0, 0, 0.08);
}

.button-learn-more:hover, .button-contact:hover {
  box-shadow:0 4px 24px rgba(0, 0, 0, 0.06);
}

.gradient-plantry {
  background-image: -webkit-linear-gradient(#FFDA00 0%, #FDC200 100%)
}

.gradient-plantry:hover {
  background-image: -webkit-linear-gradient(#FFE100 0%, #FDCF00 100%);
}

.gradient-plantry:active {
  background-image: -webkit-linear-gradient(#FDC200 0%, #FFDA00 100%);
}

.gradient-handla {
  background-image: -webkit-linear-gradient(#D3F5DE 0%, #9EF0B9 100%)
}

.gradient-handla:hover {
  background-image: -webkit-linear-gradient(#DBF7E4 0%, #B2F3C7 100%);
}

.gradient-handla:active {
  background-image: -webkit-linear-gradient(#9EF0B9 0%, #D3F5DE 100%);
}

.gradient-meals {
  background-image: -webkit-linear-gradient(#EAEBF0 0%, #BDBCC7 100%)
}

.gradient-meals:hover {
  background-image: -webkit-linear-gradient(#EFF0F4 0%, #C5C5CE 100%);
}

.gradient-meals:active {
  background-image: -webkit-linear-gradient(#BDBCC7 0%, #EAEBF0 100%);
}

.gradient-green {
  background-image: -webkit-linear-gradient(#A3DB42 0%, #7CCC2D 100%)
}

.gradient-green:hover {
  background-image: -webkit-linear-gradient(#EFF0F4 0%, #C5C5CE 100%);
}

.gradient-green:active {
  background-image: -webkit-linear-gradient(#7CCC2D 0%, #A3DB42 100%);
}

/* Wide gamut display support */

@supports (color: color(display-p3 0 0 0 / 1)) {
  
  .green {
    color: color(display-p3 0.49 0.8 0.176 / 1);
  }
  
  .gradient-plantry {
    background-image: -webkit-linear-gradient(color(display-p3 1 0.854 0 / 1) 0%, color(display-p3 0.992 0.76 0 / 1) 100%);
  }
  
  .gradient-plantry:hover {
    background-image: -webkit-linear-gradient(color(display-p3 1 0.882 0 / 1) 0%, color(display-p3 0.992 0.8 0 / 1) 100%);
  }
  
  .gradient-plantry:active {
    background-image: -webkit-linear-gradient(color(display-p3 0.992 0.76 0 / 1) 0%, color(display-p3 1 0.854 0 / 1) 100%);
  }
  
  .gradient-handla {
    background-image: -webkit-linear-gradient(color(display-p3 0.827 0.96 0.87 / 1) 0%, color(display-p3 0.619 0.941 0.725 / 1) 100%);
  }
  
  .gradient-handla:hover {
    background-image: -webkit-linear-gradient(color(display-p3 0.859 0.967 0.894 / 1) 0%, color(display-p3 0.698 0.952 0.78 / 1) 100%);
  }
  
  .gradient-handla:active {
    background-image: -webkit-linear-gradient(color(display-p3 0.619 0.941 0.725 / 1) 0%, color(display-p3 0.827 0.96 0.87 / 1) 100%);
  }

  .gradient-green {
    background-image: -webkit-linear-gradient(color(display-p3 0.639 0.859 0.259 / 1) 0%, color(display-p3 0.486 0.8 0.176 / 1) 100%);
  }
  
  .gradient-green:hover {
    background-image: -webkit-linear-gradient(color(display-p3 0.71 0.89 0.404 / 1) 0%, color(display-p3 0.592 0.839 0.341 / 1) 100%);
  }
  
  .gradient-green:active {
    background-image: -webkit-linear-gradient(color(display-p3 0.486 0.8 0.176 / 1) 0%, color(display-p3 0.639 0.859 0.259 / 1) 100%);
  }
}


/* Copyright */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

footer p {
  color: #000;
  opacity: 0.5;
  font-weight: normal;
  font-size: 0.6rem;
}

footer a {
  color: #000;
  font-weight: normal;
  font-size: 0.6rem;
}

.copyright, .apple-notice {
	margin-bottom: 0;
	margin: 0 1 0vw;
}

.social-footer {
  padding: 0;
  margin: 0;
}

.social-footer img {
  padding: 22px;
  margin-top: 80px;
  margin-bottom: 32px;
}

















/* Creator page */

#content {
	width: 100%;
  height: 100%;
  padding-top: 160px;
  overflow-x: hidden;
  color: black;
  opacity: 1.0;
	font-size: 15px;
	line-height: 1.4;
}

#illustration {
	background: url(gfx/plantry-illustration@2x.jpg);
  background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 80%;
	height: auto;
}

.headline {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  
}

#creator {
	background-size: 100% auto;
	background-repeat: no-repeat;	
	font-size: 18px;
	text-align: left;
	color: black;
	line-height: 1.4;
	padding-left: 25vw;
	padding-right: 25vw;
	margin-bottom: 60px;
	margin-top: 0;
}

#creator li {
  margin: 14px 0px 14px 0px;
}

#creator h2 {
	font-weight: bold;
	font-size: 22px;
}

.button-contact {
  width: 200px;
  color: black;
  background-color: #ccc;
  border-radius: 100px;
  text-align: center;
  padding: 16px 24px 16px 24px;
  font-size: 22px;
  font-weight: 600;  
  margin-top: 0;
  margin-bottom: 64px;
  transition: 0.2s;
}



  


/* About Page*/

#about {
	text-align: center;
	padding: 0;
  margin: 0;
 }

#about h1 {
	font-weight: 500;
	font-size: 35px;	
	padding: 0;
	margin: 0;
}

#mission {	
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
	padding-left: 25vw;
	padding-right: 25vw;
}

.separator-fat{
  height: 5px;
  background-color: #F2F2F2;
  width: 520px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Social Buttons */

.social {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sociallink {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  position: relative;
	display: inline-block;
	text-align: left;
 width: 100%;
   text-decoration: none;
}

.sociallink-separator {
    height: 0.5px;
  background-color: #CCCCCC;
  width: -moz-calc(100% - 44px);
  width: -webkit-calc(100% - 44px);
  width: calc(100% - 44px);
  margin-left: 44px;
  position: relative;
}

.sociallink img {
  vertical-align: middle;
  margin-right: 20px;
}

.social a:link, .social a:visited, .social a:active {
  text-decoration: none;
	color: black;
}

.social a:hover {
  text-decoration: none;
	color: #737373;
	opacity: 45%;
}




/* Head shots */

.portrait {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 130px;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 30px;
}

.portrait h2 {
	font-variant: small-caps;
	font-size: 11px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.avatar {
	width: 82px;
	height: 82px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

#jenny {
	background: url(gfx/portrait_jenny@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#viktor {
	background: url(gfx/portrait_viktor@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#robert {
	background: url(gfx/portrait_robert@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#max {
	background: url(gfx/portrait_max@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#simon {
	background: url(gfx/portrait_simon@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#rain {
	background: url(gfx/portrait_rain@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#paula {
	background: url(gfx/portrait_paula@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

#sara {
	background: url(gfx/portrait_sara@2x.png);
	background-size: 82px 82px;
	background-repeat: no-repeat;
}

a.avatarlink {
	width: 108px;
	height: 108px;
  overflow: hidden;
  text-decoration: none;
  display: block;
}









/* Responsive Mobile */

@media (max-width: 640px){

  /* Front page */
  
  .header-picture img {
    width: 400vw;
    margin-left: -140vw;
  }  
  
  .filibaba-purpose h1 {
    font-size: 32px;
    position: relative;
    margin-bottom: 0;
  }
  
  .filibaba-purpose p {
    font-size: 18px;
    line-height: 1.4;
  }
  
  .filibaba-purpose {
    margin-bottom: 64px;
  }
  
  .card-wrapper, .filibaba-purpose {
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .card-wrapper {
    margin-top: 40px;
  }

  .card {
    border-radius: 40px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  
  .card img {
    vertical-align: middle;
  }
    
  .card-accessories {
    margin-top: 24px;
    align-items: baseline;
  }
  
  .card-accessories p {
    font-size: 18px;
    line-height: 1.4;
    float: none;
    margin: 0px 8%;
  }
  
  .button-learn-more {
    display: none;
  }

  .card-phones img {
    width: 84%;
    margin: 8% 8% 0px 8%;
  }

  .card-plantry-logo {
    display: none;
  }

  .card-plantry-logo-mobile, .card-handla-logo {
    display: inline;
    width: 68%;
    margin: 14% 16% 4% 16%;
  }

  .card-illustration-meals {
    display: none;    
  }
    
  .card-illustration-meals-mobile {
    display: inline;    
  }
  
  .card-illustration-meals-mobile img {
    width: 92%;
    margin: 12% 4%; 
  }
    
  .copyright, .apple-notice {
  	margin-bottom: 0;
  	margin: 0 1 0vw;
  }
  
  .social-footer {
    padding: 0;
    margin: 0;
  }
  
  .social-footer img {
    padding: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  /* Creators & about page */
	#creator, #mission {
		padding-left: 24px;
		padding-right: 24px;
	}
	
  .filibaba-animated-logo	{
    width: 170px;
  }
  
  #content {
    padding-top: 120px;
  }
	  
}


@media (min-width: 641px){
    .card-plantry-logo-mobile, .card-illustration-meals-mobile {
      display: none;
    }
  }
  


/* Large monitor padding */
	
@media (min-width:1636px) {

	#creator, #mission {
		padding-left: 33%;
		padding-right: 33%;
	}
	
}








/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
	A:link {text-decoration: none; color: white;}
	A:visited {text-decoration: none; color: white;}
	A:active {text-decoration: none; color: white;}
	A:hover {text-decoration: none; color: white;}
	a:focus {outline: 0;}
  
  .invertInDarkMode {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }  
  
  .site-nav{
    background-color:rgba(24,24,24,.7);
  }

  .site-nav-regular,
  .site-nav-regular:hover
  {
    color: white;
  }
  
  .site-nav-regular:hover
  {
      background-color: rgba(256, 256, 256, 0.24);
  }
  
  .site-nav-active {
    color: black;
    background-color: white;
  }

  .purpose-gradient img {
    position: absolute;
  	background-image:  linear-gradient(rgba(0,0,0,0), black 75%);
  }



  .separator,
  .sociallink-separator{
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  
  /* Creator dark */
  #creator,
  #creator a:link,
  #creator a:visited,
  #creator a:active, 
  .headline {
  	color: white;
  }
  
  #creator a:hover {
  	color: rgba(255, 255, 255, 0.7);
  }
  
  #illustration {
    margin-top: 40px;
  	background: url(gfx/plantry-illustration-dark@2x.jpg);
    background-size: 100% auto;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: auto;
  }
  
  
  /* About Page dark*/
  .separator-fat{
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  #about,
  .portrait,
  .copyright,
  .apple-notice {
    color: white;
  }

}

