/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
  /* One rem is 16px */
  font-size: 16px;
}

body {
  margin: 0;
  padding:0;
  background-color: rgb(255, 255, 255);
}

header {
  background: #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2fa 83%, #ffc800 83%, #ffc800 100%);
  height: auto;
  min-height: 800px;
  max-height: auto;
}

header img {
	height: auto;
	width: 100%;
	max-width: 1330px;
	margin: auto;
	display: block;
}

header .app-store-download {
  position: absolute;
  top: 14rem;
  left: 6vw;
  width: 12rem;
  height: auto;
}

section {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

section > .content {
  max-width: 24rem;
  margin: auto;
  margin-right: 15vw;
  margin-left: 0;
  z-index: 5;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

section > .content img {
  margin-bottom: 1rem;
}

section > .screenshot {
  width: 357px;
  height: 670px;
  position: relative;
  z-index: 2;
  margin-left: -27px;
  margin-right: -27px;
}

section > .screenshot img {
  z-index: 6;
  position: relative;
}

section > .screenshot::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200%;
  width: 350%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

section:nth-child(even) > .content {
  order: 2;
  margin-left: 15vw;
  margin-right: 0;
}

section > .plan {
	background: url(../gfx/iphonePlan@2x.png);
  background-size: 357px 670px;
	background-repeat: no-repeat;
}
	
section > .recipes {
	background: url(../gfx/iphonePlan@2x.png);
  background-size: 357px 670px;
	background-repeat: no-repeat;
}
	
.video {
	display: block;
	margin-top: 31px;
	margin-left: 44px;
	margin-right: 44px;
	margin-bottom: 59px;
}

#problem-intro {
  background: #FFC800; 
  color: rgb(0, 0, 0);
  padding: 0 0 10rem;
}

#problem-intro .content {
  margin: auto;
  max-width: 42rem;
}

#problem-intro h2 {
  margin: 1rem 0 0 0;
}

#plan-intro, #exclusive-content-intro, #shop-intro, #cook-intro, #premium-intro {
  background: #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2fa 100%);
  color: rgb(0, 0, 0);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

footer p {
  color: #000;
  opacity: 0.5;
  font: normal 0.6rem "AvenirNext-Regular", Helvetica, sans-serif;
}

footer a {
  color: #000;
  font: normal 0.6rem "AvenirNext-Regular", Helvetica, sans-serif;
}

footer h2 {
  text-align: center;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.copyright, .apple-notice {
	margin-bottom: 0;
	margin: 0 1 0vw;
}

.app-store-download {
  display: block;
  width: 154px;
  height: 50px;
  background: url('../gfx/app_store_se.svg') no-repeat;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.award-grid {
  max-width: 1090px;
  margin-bottom: 60px;
  text-align: center;
}

.award {
	background: url(../gfx/award@2x.png);
  background-size: 290px 142px;
	background-repeat: no-repeat;
	background-position-y: 35px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
	height: 178px;
}


.award p {
  margin-top: 100px;
  font: bold 1.125rem "AvenirNext-Regular", Helvetica, sans-serif;
	opacity: 1.0;
	height: 20px;
}

.award h2 {
  font: normal 0.8125rem "AvenirNext-Regular", Helvetica, sans-serif;
  opacity: 0.5;
	height: 20px;
	margin-top: 33px;
}

.articlequote {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.articlequote p {
  margin-top: 30px;
	font-size: 16px;
	opacity: 1.0;
  line-height: 1.7;
}

.review-grid {
  max-width: 1090px;
  margin-bottom: 70px;
  text-align: center;
}

.review {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.review p {
  margin-top: 30px;
	font-size: 16px;
	opacity: 1.0;
  line-height: 1.7;
}

.review h2 {
  font: normal 1.125rem "AvenirNext-Regular", Helvetica, sans-serif;
  opacity: 0.5;
  text-align: left;
}

/* Typography */

h2, p {
  margin: 0;
  padding: 0 0 1.2rem 0;
}

h2 {
  font: normal 2.5rem "Avenir-Black", Helvetica, sans-serif;
  font-weight: bold;
}

p {
  font: normal 1.125rem "AvenirNext-Regular", Helvetica, sans-serif;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.vignette {
  font: normal 1rem "Avenir-Roman", Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
}

/* Responsive header */

@media (max-width: 1330px){
  header {
    background: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2fa 83%, #ffc800 83%, #ffc800 100%);
    height: auto;
    min-height: auto;
    max-height: auto;
  }
    	
  header .app-store-download {
    position: absolute;
    top: 17vw;
    left: 6vw;
    width: 14vw;
    height: 4.5vw;
  }
  
  #problem-intro {
    background: #FFC800; 
    color: rgb(0, 0, 0);
    padding: 0 0 10vw 0;
  }

  #problem-intro .content {
    margin: auto;
    margin-left: 25vw;
    margin-right: 25vw;
    max-width: 42rem;
  }
}

/* Tablet & Mobile layout */

@media (min-width: 568px) and (max-width: 1000px){
  section {
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  section > .content {
    max-width: 24rem;
    margin: auto;
    margin-right: 5vw;
    margin-left: 0;
    z-index: 5;
  }
  
  section:nth-child(even) > .content {
    order: inherit;
    margin-right: 5vw;
    margin-left: 0;
  }
  
  section > .content img {
    margin-bottom: 1rem;
  }
  
  section > .screenshot {
    width: 357px;
    height: 670px;
    position: relative;
    z-index: 2;
    margin-left: 0;
    margin-right: -27px;
  }
  
  section > .screenshot img {
    z-index: 6;
    position: relative;
  }
  
  section > .screenshot::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 350%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

/* Mobile layout — below iPhone SE landscape size */

@media (max-width: 567px){
  
  section {
    padding: 3rem 0;
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
  
  section > .content {
    max-width: 24rem;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    z-index: auto;
  }
  
  section:nth-child(even) > .content {
    order: inherit;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  section > .content img {
    margin-bottom: 1rem;
  }
  
  section > .screenshot {
    width: 100%;
    height: auto;
    margin-left: -7px;
    margin-right: -7px;
    position: relative;
    z-index: auto;
  }
  
  section > .screenshot img {
    z-index: auto;
    position: relative;
    width: 100%;
    height: auto;
  }
  
  section > .screenshot::before {
    content: " ";
    position: relative;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 350%;
    transform: translate(-50%, -50%);
    z-index: auto;
  }
  section > .plan {
  	background: url(../gfx/iphonePlan@2x.png);
    background-size: 100% auto;
  	background-repeat: no-repeat;
  }
  
  section > .plan img {
  	display: block;
  	z-index: 2;
  }

  section > .recipes {
  	background: url(../gfx/iphonePlan@2x.png);
    background-size: 100% auto;
  	background-repeat: no-repeat;
  }
  	
  .video {
    z-index: 3;
    width: 75.36%;
    height: 86.56%; 
  	display: block;
  	padding-top: 8.65%;
  	padding-bottom: 15%;
  	margin-top: 8.65%;
  	margin-left: 12.32%;
  	margin-right: 12.32%;
  	margin-bottom: 4.79%;
  }
  
  .gradientbg {
    height: 83vh;
  	background: url(../gfx/heroimage-mobile@2x.jpg);
    background-size: 100% auto;
  	background-repeat: no-repeat;
  	margin-bottom: -1px;
  }

  header {
    background: #fff;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2fa 83%, #ffc800 83%, #ffc800 100%);
  	margin-bottom: -1px;
  }
  
  header img {
  	display: none;
  }
  
  header .app-store-download {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 80vh;
    left: 33vw;
    width: 34vw;
    height: 11vw;
    background: url('../gfx/app_store_se.svg') no-repeat;
    background-size: cover;
  }  

  .award {
  	margin: 20px 0px 20px 0px;
  }

  .articlequote {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  
  .articlequote p {
    margin-top: 50px;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.7;
  }
  
  .review-grid {
    max-width: 1090px;
    margin-bottom: 0;
    text-align: center;
  }

  .review {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 50px;
    text-align: left;
    width: 100%;
  }
  
  .review p {
    margin-top: 20px;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.7;
  }
  
  .review h2 {
    font: normal 0.9375rem "AvenirNext-Regular", Helvetica, sans-serif;
    opacity: 0.5;
    text-align: left;
  }
  
  .app-store-download {
    display: block;
    width: 154px;
    height: 50px;
    background: url('../gfx/app_store.svg') no-repeat;
    background-size: cover;
    text-indent: -999px;
    overflow: hidden;
    opacity: 1;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
  #problem-intro {
    background: #FFC800; 
    color: rgb(0, 0, 0);
    padding: 3.5rem 0 4rem 0;
  }

  #problem-intro .content {
    margin: auto;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    max-width: 42rem;
  } 
  
  footer h2 {
    text-align: center;
    font: normal 1.5rem "Avenir-Black", Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .plants {width: 100%;}
  
  h2, p {
    margin: 0;
    padding: 0 0 1.2rem 0;
  }
  
  h2 {
    font: normal 2rem "Avenir-Black", Helvetica, sans-serif;
    font-weight: bold;
  }
  
  p {
    font: normal 0.9375rem "AvenirNext-Regular", Helvetica, sans-serif;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  
  .vignette {
    font: normal 0.9375rem "Avenir-Roman", Helvetica, sans-serif;
    text-transform: uppercase;
    opacity: 0.7;
  }

}

