/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
  /* One rem is 16px */
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}



/* Site nav */

.site-nav{
  position: absolute;
  width: 100%;
}

.site-nav-left{
  float: left;
  width: 24%;
  
}

.site-nav-right{
  color: white;
  float: right;
  margin-right: 42px;
}

.site-nav-right a {
  color: white;
}
 
.site-nav-regular{
  height: 100px;
  width: 100px;
  text-align: center;
	position: relative;
	display: inline-block;
  font-size: 20px;
  text-decoration: none;
  line-height: 100px; 
}

.site-nav-active{
  height: 100px;
  width: 100px;
  text-align: center;
	position: relative;
	display: inline-block;
  font-size: 20px;
  text-decoration: none;
  line-height: 100px;
}

.site-nav-regular:hover {
  opacity: 0.8;
}

.site-nav-regular:active {
  opacity: 1.0;
}



.plantry-logo{
  height: 100px;
	position: relative;
	display: inline-block;
	   -webkit-filter: invert(1);
   filter: invert(1);   
}

.separator{
  height: 0.5px;
  background-color: #CCCCCC;
  width: -moz-calc(100% - 84px);
  width: -webkit-calc(100% - 84px);
  width: calc(100% - 84px);
  margin-left: 42px;
  margin-top: 99px;
  position: absolute;
}

/* Site nav responsive header */

@media (max-width: 1040px){
  .plantry-tagline{
    display: none;
  }
}

@media (max-width: 820px){
  .plantry-logo{
    width: 100px;
    height: 100px;
  	position: relative;
  	display: inline-block;
  	vertical-align: middle;
  	overflow: hidden;
  }
}

@media (max-width: 750px){
  .plantry-logo{
    display: none;
  }
  .separator{
    display: none;
  }
}

/* Site nav mobile layout — below iPhone SE landscape size */

@media (max-width: 640px){
  
  .site-nav-regular{
    height: 50px;
  }
  
  .site-nav-right{
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  
  .site-nav-center{
    width: 100%;
    text-align: center;
  }

  .site-nav-regular, .site-nav-active{
    height: 50px;
    line-height: 50px;
    width: 18%;
    font-size: 11px;
  }
}



body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}






/* Header */

header {
  background-color: black; 
  padding: 0;
  margin: 0;
}

.hero {
  background-image: url(../gfx/earth-bg.jpg);
  background-position: center top;
  background-size: cover;
  color: rgb(0, 0, 0);
  padding: 160px 0 0 0;
  margin: 0 0 60px 0;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
}

.hero-iphone {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 744px;
  width 309px;
	background: url(../gfx/hero-iphone@2x.png);
  background-size: 309px 744px;
	background-repeat: no-repeat;
	background-position: center center;
}

.video {
  height: 719px;
  width 272px;
  margin-top: 13px;
  margin-right: 21px;
  border-radius: 240px 0 0 240px/45px 0 0 45px;
}

.app-store-download-top { 
  margin-top: 340px;
  margin-left: 80px;
	position: absolute;
	display: inline-block;
}

.app-store-download-top-mobile { 
  display: none;
}

.hero h2 {
  font-size: 72px;
  background: linear-gradient(to right, #FFBFD5 30%, #A3C6FF 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bend {
  width: 100%;
  padding: 0;
  margin-bottom: -16px;
  background-image: url(../gfx/bend.svg);
  background-size: contain;
  background-position: center top;
  width: 100%;
}

.veggies {
  margin-bottom: 60px;
  width: 100%;
  max-width: 887px;
}

.ipad-hero {
  margin-bottom: 80px;
  width: 100%;
}



/* Feature grid */


section h2 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.feature-grid {
  max-width: 1100px;
  margin-bottom: 40px;
  text-align: left;
}

.feature {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.feature p {
  margin: 16px 0;
	font-size: 18px;
	opacity: 0.7;
  line-height: 1.5;
  padding: 0;
}













.divider {
  height: 16px;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 70px;
}









/* Awards */


.app-store-download {
  display: block;
  width: 185px;
  height: 62px;
  background: url('../gfx/app_store_se.svg') no-repeat;
  background-size: cover;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 2rem;
  margin-top: 0;
}

.award-grid {
  max-width: 1090px;
  margin-bottom: 30px;
  text-align: left;
}

.award {
	background: url(../gfx/award@2x.png);
  background-size: 290px 142px;
	background-repeat: no-repeat;
	background-position-y: 35px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
	height: 178px;
  text-align: center;
}


.award p {
  margin-top: 98px;
  font-weight: bold;
  font-size: 1.125rem;
	height: 20px;
}

.award h2 {
  font-weight: normal;
  font-size: 0.8125rem;
	opacity: 0.7;
	height: 20px;
	margin-top: 33px;
}

.articlequote {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.articlequote p {
  margin-top: 30px;
	font-size: 18px;
	color: #4D4D4D;
  line-height: 1.5;
}

.articlequote b {
  color: black;
}

.review-grid {
  max-width: 1090px;
  margin-bottom: 40px;
  text-align: left;
}

.review {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 35px;
	width: 290px;
  text-align: left;
}

.review p {
  margin-top: 30px;
	font-size: 18px;
	color: #4D4D4D;
  line-height: 1.5;
}

.review b {
  color: black;
}

.review h2 {
  font-weight: normal;
  font-size: 1.125rem;
  opacity: 0.5;
  text-align: left;
}







/* Footer */


.bend-top {
  padding: 0;
  margin: -1px 0 40px 0;
  width: 100%;
  
}

footer {
  background-color: #FFC800;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

footer p {
  color: #000;
  opacity: 0.5;
  font-weight: normal;
  font-size: 0.6rem;
}

footer a {
  color: #000;
  font-weight: normal;
  font-size: 0.6rem;
}

footer img {
  margin: 24px 0;
}

.site-nav-center{
  float: center;
  margin-bottom: 16px;
}

.copyright, .apple-notice {
	padding: 0 16px;
}

.social-footer {
  padding: 0;
  margin: 0;
}

.social-footer img {
  padding: 22px;
  margin-top: 0;
  margin-bottom: 48px;
  
}








/* Typography */

h2, p {
  margin: 0;
  padding: 0 0 1.2rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.24rem;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.vignette {
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.apple-notice {
	line-height: 1.3;
}  





/* Laptop layout */

@media (min-width: 1001px) and (max-width: 1792px){
  .hero {
    padding: 106px 0 0 0;
    margin: 0 0 60px 0;
  }
  
  .hero-iphone {
    margin-top: 20px;
    margin-bottom: 0;
    height: 595px;
    width 247px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 575px;
    width 218px;
    margin-top: 10.5px;
    margin-right: 17px;
    border-radius: 200px 0 0 200px/35px 0 0 35px;
  }
  
  .app-store-download-top { 
    margin-top: 272px;
    margin-left: 64px;
  	position: absolute;
  	display: inline-block;
  }
  
  .hero h2 {
    font-size: 56px; 
  }
}
  
  


/* Tablet & Mobile layout */


@media (min-width: 568px) and (max-width: 1366px){
  .header-padding {
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .hero {
    background-image: url(../gfx/earth-bg-tablet.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 106px 0 0 0;
    margin: 0 0 60px 0;
  }
  
  .hero-iphone {
    margin-top: 20px;
    margin-bottom: 0;
    height: 595px;
    width 247px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 575px;
    width 218px;
    margin-top: 10.5px;
    margin-right: 17px;
    border-radius: 200px 0 0 200px/35px 0 0 35px;
  }
  
  .app-store-download-top { 
    display: none;
  }
  
  .app-store-download-top-mobile { 
    display: inherit;
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .hero h2 {
    font-size: 48px; 
  }
  
  .bend {
    margin-bottom: -8px;
  }
  
.ipad-hero {
    margin-bottom: 80px;
    width: 150%;
    margin-left: -25%;
  }
  

/*Old responsive code */
  section {
  padding: 2rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  section > .content {
    max-width: 24rem;
    margin: auto;
    margin-right: 5vw;
    margin-left: 0;
    z-index: 5;
  }
  
  section > .content img {
    margin-bottom: 1rem;
  }
  
  section > .screenshot {
    width: 357px;
    height: 670px;
    position: relative;
    z-index: 2;
    margin-left: 0;
    margin-right: -27px;
  }
  
  section > .screenshot img {
    z-index: 6;
    position: relative;
  }
  
  section > .screenshot::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 350%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}




/* Adjust grid for two columns */

@media (min-width: 760px) and (max-width: 1124px){
  
  .feature-grid, .review-grid, .award-grid {
    max-width: 728px;
  }
  
}

/* Adjust grid for one column */

@media (min-width: 568px) and (max-width: 759px){
  
  .feature-grid, .review-grid, .award-grid {
    max-width: 364px;
  }
  
}

  

/* Mobile layout — below iPhone SE landscape size */

@media (max-width: 567px){
  
  .hero {
    background-image: url(../gfx/earth-bg-mobile.jpg);
    background-position: center top;
    background-size: cover;
  }
  
  section {
    padding: 16px;
  }
  
  .hero { 
    padding: 64px 0 0 0;
    margin: 0 0 28px 0;
  }
  
  .hero-iphone {
    margin-top: 0;
    margin-bottom: 0;
    height: 595px;
    width 247px;
    background-size: 247px 595px;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
  
  .video {
    height: 575px;
    width 218px;
    margin-top: 10.5px;
    margin-right: 17px;
    border-radius: 200px 0 0 200px/35px 0 0 35px;
    margin-bottom: 100px;
  }
  
  .app-store-download-top { 
    display: none;
  }
  
  .app-store-download-top-mobile { 
    display: inherit;
    margin-top: 48px;
    margin-bottom: 32px;
  }
  
  .hero h2 {
    font-size: 28px; 
  }
  
  .bend {
    margin-bottom: -8px;
  }
  
  .veggies, .ipad-hero {
    margin-bottom: 20px;
    width: 160%;
    margin-left: -30%;
  }
  
  .image-crop {
    overflow: hidden;
    width: calc(100% + 32px);
    padding: 0;
    margin: 0;
  }  
  
  h3 {
    font-size: 1.24rem;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .award-grid {
    text-align: center;
  }
  
  .feature p {
    margin-top: 0;
  	font-size: 15px;
  	opacity: 0.7;
    line-height: 1.5;
  }
  
  .divider {
    margin-bottom: 35px;
  }

  
  /*old responsive code*/

  
  header .app-store-download {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 80vh;
    left: 33vw;
    width: 34vw;
    height: 11vw;
    background: url('../gfx/app_store_se.svg') no-repeat;
    background-size: cover;
  }  





  section h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 16px 24px 16px;
    padding-bottom: 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .feature-grid {
    max-width: 1090px;
    margin-bottom: 0;
    text-align: center;
  }

  .feature {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 32px;
    text-align: left;
    width: 100%;
  }
  







  .award {
  	margin: 20px 0px 20px 0px;
  }
  
  .award h2 {
  	margin-top: -32px;
  }

  .articlequote {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  
  .articlequote p {
    margin-top: 20px;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .review-grid {
    max-width: 1090px;
    margin-bottom: 0;
    text-align: center;
  }

  .review {
  	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  
  .review p {
    margin-top: 20px;
  	font-size: 15px;
  	opacity: 1.0;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .review h2 {
    font-size: 0.9375rem;
    font-weight: normal;
    opacity: 0.5;
    text-align: left;
    margin: 0px 0px 32px 0px;
    padding: 0;
  }
  
  .app-store-download {
    display: block;
    width: 173px;
    height: 58px;
    background: url('../gfx/app_store_se.svg') no-repeat;
    background-size: cover;
    text-indent: -999px;
    overflow: hidden;
    opacity: 1;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }


  
  h2, p {
    margin: 0;
    padding: 0 0 3rem 0;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    font-weight: normal;
    font-size: 0.9375rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  
  .vignette {
    font-weight: normal;
    font-size: 0.9375rem;
    text-transform: uppercase;
    opacity: 0.7;
  }
  
  .social-footer img {
    padding: 16px;
  }  
}


/* Work around iOS limitation of fixed scrolling */

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .hero {
    background-attachment: scroll;
  }
}

/* Wide gamut display support */

@supports (color: color(display-p3 0 0 0 / 1)) {
  
  .hero h2 {
    background: linear-gradient(to right, color(display-p3 1 0.74 0.83 / 1) 30%, color(display-p3 0.64 0.78 1 / 1) 70%);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(0, 0, 0);
  }
  
  .divider {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  section p, h2, h3 {
    color: #fff;
  }
  
  .invertInDarkMode {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }
  
  .award {
  	background: url(../gfx/awardDarkMode@2x.png);
    background-size: 290px 142px;
  	background-repeat: no-repeat;
  	background-position-y: 35px;
  }

  .articlequote p {
    color: #B3B3B3;
  }
  
  .articlequote b {
    color: white;
  }
  
  .review p {
    color: #B3B3B3;
  }
  
  .review b {
    color: white;
  }
  
  .award h2 {
  	opacity: 0.7;
  }

  .feature p {
  	opacity: 0.7;
  }
  
}