@charset "UTF-8";

	A:link {text-decoration: underline; color: black;}
	A:visited {text-decoration: underline; color: black;}
	A:active {text-decoration: underline; color: black;}
	A:hover {text-decoration: none; color: black;}
	A:focus {outline: 0;}

/* All apps grid */

#puff-content {
  padding-top: 120px;
}

.grid {
	margin-top: 0px;
}

.puff {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 37px;
	margin-bottom: 46px;
	width: 310px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-opera-border-radius:15px;
	-khtml-border-radius:15px;
	border-radius:15px;	
}

.puff a:link, .puff a:visited {
  text-decoration: underline;
}



.puff a:active {
  opacity: 0.7;
}

.puffspacer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 310px;
	margin: 48px;
}

.appStore {
	margin: 55px auto 55px auto;
}

.screenshot {
	position: relative;
	overflow: hidden;
	width: 310px;
	height: 550px;
}


/* All apps puff styling*/

.appText {
	overflow: hidden;
	width: 262px;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: left;
	font-size: 17px;
	line-height: 1.5;
}

.appicon {
	width: 132px;
	height: 132px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-left: -26px;
	margin-top: -26px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.appName {
	padding-top: 6px;
	line-height: 0.7;
	text-align: left;
}

.appName h1 {
	font-size: 24px;
	font-weight: 600;
}

.appName h2 {
	padding-top: 4px;
	font-size: 20px;
	font-weight: 600;
}

.bloodygood {
	background-color: #fff;
	color: black;
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.08);
}

.bloodygood a {
	color: black;
}

.bloodygood a:hover {
	color: black;
}

.appiconBloodygood {
	background: url(gfx/appicon_bloodygood@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotBloodygood {
	background: url(gfx/screenshot_bloodygood@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.veryveggie {
	background-color: #fff;
	color: black;
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.08);
}

.veryveggie a {
	color: #00b58d;
}

.veryveggie a:hover {
	color: black;
}

.appiconVeryveggie {
	background: url(gfx/appicon_veryveggie@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotVeryveggie {
	background: url(gfx/screenshot_veryveggie@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.kakboken {
	background-color: #fff;
	color: black;
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.08);
}

.kakboken a {
	color: #e95c88;
}

.kakboken a:hover {
	color: #4d4d4d;
}

.appiconKakboken {
	background: url(gfx/appicon_kakboken@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotKakboken {
	background: url(gfx/screenshot_kakboken@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.vegourmet {
	background-color: #fff;
	color: #000;
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.08);
}

.vegourmet a {
	color: #2cd5c4;
}

.vegourmet a:hover {
	color: black;
}

.appiconVegourmet {
	background: url(gfx/appicon_vegourmet@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotVegourmet {
	background: url(gfx/screenshot_vegourmet@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}


.smoothies {
	background-color: #ed6471;
	color: white;
}

.appiconSmoothies {
	background: url(gfx/appicon_smoothies@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotSmoothies {
	background: url(gfx/screenshot_smoothies@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.meals {
	background-color: #f97200;
	color: white;
}

.appiconMeals {
	background: url(gfx/appicon_meals@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotMeals {
	background: url(gfx/screenshot_meals@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.weekend {
	background-color: #ffb700;
	color: white;
}

.appiconWeekend {
	background: url(gfx/appicon_weekend@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotWeekend {
	background: url(gfx/screenshot_weekend@2x.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}


/* Large monitorss */

@media (min-width:1636px) {

/* Wider spacer for 4 columns */
	
	.puffspacer {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 1128px;
	}
	
}


/* Laptop */
	
@media (max-width:1280px) {
  .puff {
  	margin: 32px;
  }
}


/* Tablet */
	
@media (max-width:920px) {
  .puff {
  	margin: 24px;
  }
}

/* Mobile */

@media (max-width:640px) {
  
  #puff-content {
    padding-top: 80px;
  }
	
	.puff {
		height: auto;
		margin: 40px 0 40px 0;
		width: 90%;	
	}
	
	.puffspacer {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 0;
		margin: 0;
	}	

	.appicon {
		width: 132px;
		height: 132px;
		position: relative;
		overflow: hidden;
		float: left;
		margin-left: -26px;
		margin-top: -26px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	
	.appText {
		overflow: hidden;
		width: 90%;
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: left;
	}
	
	.screenshot {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;	
	}
	
	.screenshotVegourmet,
  .screenshotVeryveggie,
  .screenshotKakboken,
	.screenshotSmoothies,
	.screenshotWeekend,
	.screenshotMeals {
		background-size: 100% auto;
	}

}




/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
 
   /* All Apps */ 
  .bloodygood,
  .veryveggie,
  .kakboken,
  .vegourmet {
  	background-color: rgb(38, 38, 40);
  	color: white;
  	border: none;
  }
  
  .bloodygood a,
  .bloodygood a:hover,
  .veryveggie a:hover,
  .kakboken a:hover,
  .vegourmet a:hover {
  	color: white;
  }
  
  .screenshotVeryveggie {
  	background: url(gfx/screenshot_veryveggie_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
  .screenshotKakboken {
  	background: url(gfx/screenshot_kakboken_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
		
  .screenshotVegourmet {
  	background: url(gfx/screenshot_vegourmet_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
  


}

