@charset "UTF-8";


/* CSS copied from styles.css (Plantry stylesheet) */

html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	background-color: #fff;
	margin: 0;
}

	A:link {text-decoration: none; color: black;}
	A:visited {text-decoration: none; color: black;}
	A:active {text-decoration: none; color: black;}
	A:hover {text-decoration: none; color: black;}
	a:focus {outline: 0;}

/* Site nav */

.site-nav{
  position: fixed;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  background-color:rgba(255,255,255,.6);
  backdrop-filter:blur(60px);
  -webkit-backdrop-filter:blur(60px);
}

.site-nav-left{
  float: left;
  width: 24%;
	text-align: left;
}

.site-nav-right{
  float: right;
  margin-right: 24px;
  font-size: 20px;
  text-align: center;
}
  
.site-nav-regular{
  color: black;
  opacity: 1.0;
	position: relative;
	display: inline-block;
  border-radius: 100px;
  padding: 8px 16px;
  margin: 30px 4px 30px 4px;
  transition: 0.3s;
}

.site-nav-active{
  background-color: black;
  color: white;
}

.site-nav-regular:hover {
  background-color: rgba(120, 120, 128, 0.16);
  color: black;
  border-radius: 100px;
  transition: 0.15s;
}

.site-nav-regular:active {
  opacity: 0.54;
}

.filibaba-logo{
  margin-left: 24px;
  height: 100px;
	position: relative;
	display: inline-block;
}

/* Site nav responsive */


@media (max-width: 360px){
  .filibaba-logo{
    display: none;
  }
}

@media (max-width: 640px){
   .filibaba-logo{
    margin-left: 12px;
    margin-top: 8px;
    height: 0;
  	position: relative;
  }
 
  .filibaba-logo img{
    margin-left: 0px;
    width: 48px;
    height: auto;
  }    
  .site-nav-right{
    margin-right: 12px;
  }

  .site-nav-regular {
    font-size: 15px;
    margin: 30px 0px 30px 0px;
    padding: 8px 10px;
  }
}




/* Copyright */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

footer p {
  color: #000;
  opacity: 0.5;
  font-weight: normal;
  font-size: 0.6rem;
}

footer a {
  color: #000;
  font-weight: normal;
  font-size: 0.6rem;
}

footer h2 {
  text-align: center;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.copyright, .apple-notice {
	margin-bottom: 0;
	margin: 0 1 0vw;
}

.social-footer {
  padding: 0;
  margin: 0;
}

.social-footer img {
  padding: 22px;
  margin-top: 0;
  margin-bottom: 48px;
}






/* CSS Migrated from Filibaba.com Below this line */

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}


body {
	background-color: #fff;
	margin: 0;
}



/* All apps grid */

#content {
  padding-top: 160px;
}

.grid {
	margin-top: 0px;
}

.puff {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 37px;
	margin-bottom: 46px;
	width: 310px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-opera-border-radius:15px;
	-khtml-border-radius:15px;
	border-radius:15px;	
}

.puffspacer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 310px;
	margin: 48px;
}


.valuesBox {
	width: 29%;
	min-width: 250px;
	margin: 30px 2% 30px 2%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}


.appStore {
	background: url(gfx/appstore@2x.png);
	background-size: 199px 118px;
	width: 199px;
	height: 59px;
	background-repeat: no-repeat;
    overflow: hidden;
	margin: 55px auto 55px auto;
	left: 0; bottom: 0; right: 0;
}

.appStoreBlack {
	background-position: 0 -59px;
}

.comingSoon{
	font-weight: 600;
	font-size: 19px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 262px;
	margin-top: 48px;
	margin-bottom: 24px;
	text-align: center;
	margin: 55px auto 55px auto;
	left: 0; bottom: 0; right: 0;
}


a.download {
	width: 199px;
	height: 59px;
    overflow: hidden;
    text-decoration: none;
    display: block;
}

.screenshot {
	position: relative;
	overflow: hidden;
	width: 310px;
	height: 550px;
}

.playbutton {
	background: url(gfx/playbutton@2x.png);
	background-size: 120px 120px;
	background-repeat: no-repeat;
	height: 120px;
	width: 120px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}



/* All apps puff styling*/

.appText {
	overflow: hidden;
	width: 262px;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: left;
	font-size: 17px;
	line-height: 1.5;
}

.appicon {
	width: 132px;
	height: 132px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-left: -26px;
	margin-top: -26px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.appName {
	padding-top: 6px;
	line-height: 0.7;
	text-align: left;
}

.appName h1 {
	font-size: 24px;
	font-weight: 600;
}

.appName h2 {
	padding-top: 4px;
	font-size: 20px;
	font-weight: 600;
}

.bloodygood {
	background-color: #fff;
	color: black;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.04);
}

.bloodygood a {
	color: black;
}

.bloodygood a:hover {
	color: black;
}

.appiconBloodygood {
	background: url(gfx/appicon_bloodygood@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotBloodygood {
	background: url(gfx/screenshot_bloodygood@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}

.veryveggie {
	background-color: #fff;
	color: black;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.04);
}

.veryveggie a {
	color: #00b58d;
}

.veryveggie a:hover {
	color: black;
}

.appiconVeryveggie {
	background: url(gfx/appicon_veryveggie@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotVeryveggie {
	background: url(gfx/screenshot_veryveggie@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}

.kakboken {
	background-color: #fff;
	color: black;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.04);
}

.kakboken a {
	color: #e95c88;
}

.kakboken a:hover {
	color: #4d4d4d;
}

.appiconKakboken {
	background: url(gfx/appicon_kakboken@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotKakboken {
	background: url(gfx/screenshot_kakboken@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}

.vegourmet {
	background-color: #fff;
	color: #000;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 16px  rgba(0, 0, 0, 0.04);
}

.vegourmet a {
	color: #2cd5c4;
}

.vegourmet a:hover {
	color: black;
}

.appiconVegourmet {
	background: url(gfx/appicon_vegourmet@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}
		
.screenshotVegourmet {
	background: url(gfx/screenshot_vegourmet@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}


.smoothies {
	background-color: #ed6471;
	color: white;
}

.appiconSmoothies {
	background: url(gfx/appicon_smoothies@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotSmoothies {
	background: url(gfx/screenshot_smoothies@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}

.meals {
	background-color: #f97200;
	color: white;
}

.appiconMeals {
	background: url(gfx/appicon_meals@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotMeals {
	background: url(gfx/screenshot_meals@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}

.weekend {
	background-color: #ffb700;
	color: white;
}

.appiconWeekend {
	background: url(gfx/appicon_weekend@2x.png);
	background-size: 132px 132px;
	background-repeat: no-repeat;
}

.screenshotWeekend {
	background: url(gfx/screenshot_weekend@2x.jpg);
	background-size: 310px 550px;
	background-repeat: no-repeat;
}




/* Responsive Layout */

@media (max-width:640px) {
	
	.puff {
		height: auto;
		margin: 40px 0 40px 0;
		width: 90%;	
	}
	
	.puffspacer {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 0;
		margin: 0;
	}	

	.appicon {
		width: 132px;
		height: 132px;
		position: relative;
		overflow: hidden;
		float: left;
		margin-left: -26px;
		margin-top: -26px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	
	.appText {
		overflow: hidden;
		width: 90%;
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: left;
	}
	
	.screenshot {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;	
	}
	
	.screenshotVegourmet,
  .screenshotVeryveggie,
  .screenshotKakboken,
	.screenshotSmoothies,
	.screenshotWeekend,
	.screenshotMeals {
		background-size: 100% auto;
	}

}

@media (min-width:1636px) {

/* Wider spacer for 4 columns */
	
	.puffspacer {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 1128px;
	}
	
}


/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
	A:link {text-decoration: none; color: white;}
	A:visited {text-decoration: none; color: white;}
	A:active {text-decoration: none; color: white;}
	A:hover {text-decoration: none; color: white;}
	a:focus {outline: 0;}
  
  .invertInDarkMode {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }  
  
  .site-nav{
    background-color:rgba(24,24,24,.7);
  }

  .site-nav-regular,
  .site-nav-regular:hover
  {
    color: white;
  }
  
  .site-nav-regular:hover
  {
      background-color: rgba(256, 256, 256, 0.24);
  }
  
  .site-nav-active {
    color: black;
    background-color: white;
  }
  
  
  
 
   /* All Apps */ 
  .bloodygood,
  .veryveggie,
  .kakboken,
  .vegourmet {
  	background-color: rgb(38, 38, 40);
  	color: white;
  	border: none;
  }
  
  .bloodygood a,
  .bloodygood a:hover,
  .veryveggie a:hover,
  .kakboken a:hover,
  .vegourmet a:hover {
  	color: white;
  }
  
  .screenshotVeryveggie {
  	background: url(gfx/screenshot_veryveggie_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
  .screenshotKakboken {
  	background: url(gfx/screenshot_kakboken_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
		
  .screenshotVegourmet {
  	background: url(gfx/screenshot_vegourmet_dark@2x.jpg);
  	background-size: 310px 550px;
  	background-repeat: no-repeat;
  }
  


}

